
.vagrant/machines/lgs01/virtualbox/creator_uid
.vagrant/machines/ha1/virtualbox/index_uuid
*.vdi
.vagrant/machines/els01/virtualbox/action_provision
.vagrant/machines/els01/virtualbox/action_set_name
.vagrant/machines/els01/virtualbox/creator_uid
.vagrant/machines/els01/virtualbox/id
.vagrant/machines/els01/virtualbox/index_uuid
.vagrant/machines/els01/virtualbox/private_key
.vagrant/machines/els01/virtualbox/synced_folders
.vagrant/machines/els01/virtualbox/vagrant_cwd
.vagrant/machines/ha1/virtualbox/action_provision
.vagrant/machines/ha1/virtualbox/action_set_name
.vagrant/machines/ha1/virtualbox/creator_uid
.vagrant/machines/ha1/virtualbox/id
.vagrant/machines/ha1/virtualbox/private_key
.vagrant/machines/ha1/virtualbox/synced_folders
.vagrant/machines/ha1/virtualbox/vagrant_cwd
.vagrant/machines/ha2/virtualbox/vagrant_cwd
.vagrant/machines/lgs01/virtualbox/action_provision
.vagrant/machines/lgs01/virtualbox/action_set_name
.vagrant/machines/lgs01/virtualbox/id
.vagrant/machines/lgs01/virtualbox/index_uuid
.vagrant/machines/lgs01/virtualbox/private_key
.vagrant/machines/lgs01/virtualbox/synced_folders
.vagrant/machines/lgs01/virtualbox/vagrant_cwd
roles/elasticsearch/
roles/kibana/
