{{ ansible_managed }}

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6


{% for node in haproxy_hosts_file %}
	{% if ansible_enp0s8.ipv4.address != hostvars[node].ansible_ssh_host %}
    	{{ hostvars[node].ansible_ssh_host }} {{ inventory_hostnames == "local" }}
	{% endif %}
{% endfor %}